create table citymaster(
	id int auto_increment not null primary key
    , name varchar(100) character set utf8mb4 not null
    , stateid int
    , orderid int
);

alter table citymaster
add constraint fk_statemaster_citymaster
foreign key (stateid)
references statemaster(id);


insert into citymaster (name,stateid,orderid) values ('new york',(select id from statemaster where name = rtrim(ltrim('new york'))),1);
insert into citymaster (name,stateid,orderid) values ('los angeles',(select id from statemaster where name = rtrim(ltrim('california'))),2);
insert into citymaster (name,stateid,orderid) values ('chicago',(select id from statemaster where name = rtrim(ltrim('illinois'))),3);


